.contact {
    .row {
        .col {
            border: 2px solid #474141;
            width: 100%;
            text-align: $text;
            float: left;
            margin: 10px 10px;
        }
    }
}